<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Default -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon">
    <meta name="Author" content="Дыбка Даниил">
    <title>Курсы «Дыбка Даниила» — быстро, просто и со вкусом</title>

    <!-- Dark mode -->
    <script>
        if (matchMedia("(prefers-color-scheme: dark)").media === "not all") {
            document.documentElement.style.display = "none";
            document.head.insertAdjacentHTML(
                "beforeend",
                '<link rel="stylesheet" href="/css/light.css" onload="document.documentElement.style.display=\'\'">'
            );
        }
    </script>

    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" id="stylesheetlight" href="/css/light.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" id="stylesheetdark" href="/css/dark.css" media="(prefers-color-scheme: dark)">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    {{ content | safe }}
</body>
</html>
