<nav class="navbar mt-5 course-bottom see-at-pc sticky-bottom">

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>

    <div class="container d-flex align-items-center">
        <div id="coursebottomprev" class="d-none">
            <button onClick="prevPage()">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-button" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </button>
        </div>
        <div id="coursebottomnext" class="d-none">
            <button onClick="nextPage()">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-button" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
            </button>
        </div>
        <div class="title h5 mb-0" id="bottomposttitle"></div>
        <div class="ms-auto">
            <a href="#" aria-label="Перейти наверх страницы">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-link" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                </svg>
            </a>
            <button class="d-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-button" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </div>
</nav>

<div class="fixed-bottom-right see-at-mobile">
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#bottomcourse" aria-controls="bottomcourse">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M10.5 15a.5.5 0 0 1-.5-.5V2H9v12.5a.5.5 0 0 1-1 0V9H7a4 4 0 1 1 0-8h5.5a.5.5 0 0 1 0 1H11v12.5a.5.5 0 0 1-.5.5z"/>
        </svg>
    </button>
</div>

<div class="offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1" id="bottomcourse" aria-labelledby="bottomcourseLabel">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="bottomcourseLabel">Offcanvas</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
