<footer class="footer">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <ul>
                    <li class="footer__logo">
                        <a href="/" aria-label="Вернуться на главную">
                            <p class="h2">dev.dybka.ru</p>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:daniil@dybka.ru" class="link" aria-label="Написать на почту">
                            daniil@dybka.ru
                        </a>
                    </li>
                    <li>
                        <p>© dev.dybka.ru, 2023</p>
                    </li>
                </ul>
                <div class="theme-toggle">
                    <label class="theme-toggle__item"> <input class="theme-toggle__control" type="radio" name="color-theme" value="light" /> <span class="theme-toggle__text">Светлая</span> </label>
                    <label class="theme-toggle__item"> <input class="theme-toggle__control" type="radio" name="color-theme" value="auto" checked="" /> <span class="theme-toggle__text">Авто</span> </label>
                    <label class="theme-toggle__item"> <input class="theme-toggle__control" type="radio" name="color-theme" value="dark" /> <span class="theme-toggle__text">Тёмная</span> </label>
                </div>
            </div>
            <div class="col">
                <ul>
                    <li class="title">
                        <h2>
                            Курсы
                        </h2>
                    </li>
                    <li>
                        <a href="/#" class="link" aria-label="Написать на почту">
                            Курс 1
                        </a>
                    </li>
                    <li>
                        <a href="/#" class="link" aria-label="Написать на почту">
                            Курс 2
                        </a>
                    </li>
                    <li>
                        <a href="/#" class="link" aria-label="Написать на почту">
                            Курс 3
                        </a>
                    </li>
                    <li>
                        <a href="/#" class="link" aria-label="Написать на почту">
                            Курс 4
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="title">
                        <h2>
                            О платформе
                        </h2>
                    </li>
                    <li>
                        <a href="/about/" class="link" aria-label="Написать на почту">
                            Общая информация
                        </a>
                    </li>
                    <li>
                        <a href="/about/history/" class="link" aria-label="Написать на почту">
                            История создания
                        </a>
                    </li>
                    <li>
                        <a href="/about/author/" class="link" aria-label="Написать на почту">
                            Авторство
                        </a>
                    </li>
                    <li>
                        <a href="/" class="link" aria-label="Написать на почту">
                            Пользователю
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/js/bootstrap.js"></script>
