<footer class="footer">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col footer__item">
                <ul>
                    <li class="footer__logo">
                        <a href="/" aria-label="Вернуться на главную"><p class="h2">dev.dybka.ru</p></a>
                        <p>Открытый банк заданий<br> по программированию.</p>
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center theme-toggle">
                    <input onClick="checkValue()" type="radio" class="btn-check" name="color-theme" id="radio1" value="light" autocomplete="off">
                    <label class="btn btn-secondary" for="radio1">Светлая</label>
                    <input onClick="checkValue()" type="radio" class="btn-check" name="color-theme" id="radio2" value="auto" autocomplete="off" checked>
                    <label class="btn btn-secondary" for="radio2">Авто</label>
                    <input onClick="checkValue()" type="radio" class="btn-check" name="color-theme" id="radio3" value="dark" autocomplete="off">
                    <label class="btn btn-secondary" for="radio3">Тёмная</label>
                </div>
            </div>
            <div class="col footer__item">
                <h3 class="title">Курсы</h3>
                <ul>
                    <li><a href="/courses/the-basis-of-unity-the-first-project/" class="link" aria-label="Открыть курс">Основа Unity. Первый проект</a></li>
                    <li><a href="/courses/website-development-base/" class="link" aria-label="Открыть курс">Разработка сайта. Основа</a></li>
                </ul>
            </div>
            <div class="col footer__item">
                <h3 class="title">О платформе</h3>
                <ul>
                    <li><a href="/about/publishing-rules/" class="link">Правила публикации</a></li>
                    <li><a href="/about/" class="link">Общая информация</a></li>
                    <li><a href="/about/history/" class="link">История создания</a></li>
                    <li><a href="/about/add-course/" class="link">Добавить курс</a></li>
                    <li><a href="/about/user/" class="link">Пользователю</a></li>
                    <li><a href="/about/author/" class="link">Авторство</a></li>
                </ul>
            </div>
            <div class="footer--bottom">
                <div class="meta first">
                    © dev.dybka.ru, 2023
                </div>
                <div class="meta">
                    <a href="mailto:daniil@dybka.ru" class="link" aria-label="Написать на почту">daniil@dybka.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/bootstrap.js"></script>
<script src="/js/course-code.js"></script>
<script src="/js/change-theme.js"></script>
<script src="/js/mainpage-courseblock.js"></script>
