<header class="header">
    <div class="container">
        <div class="header-pc">
            <a href="/" aria-label="Вернуться на главную">
                <h2 class="logomain">Курсы от <nobr>Дыбка Даниила</nobr></h2>
            </a>
        </div>
        <div class="header-mobile">
            <a href="/" aria-label="Вернуться на главную">
                <h2 class="logomain text-center">
                    <span class="adaptive_1">Курсы от <nobr>Дыбка Даниила</nobr></span>
                    <span class="adaptive_2">Курсы Д.Д.</span>
                </h2>
            </a>
        </div>
    </div>
</header>
