<header class="header">
    <div class="container">
        <a href="/" class="logo d-flex align-items-center justify-content-center" aria-label="Вернуться на главную">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 115 115" style="enable-background:new 0 0 115 115;" xml:space="preserve">
            <style type="text/css">
                .st0{fill:#CF2727;}
            </style>
            <path class="st0" d="M96.7,16.7c-3.2-3.2-9.6-7.3-12.4-8.9c4.5,9.7,8.2,35.3-12.4,59.5C46.1,97.5,8.5,85.6,7,85.1
                c0.5,2,5.9,8.9,8.9,12.4c17.3,0.5,41.6,1,63.4-23.8S96.7,20.7,96.7,16.7z"/>
            <path d="M57.5,115C25.8,115,0,89.2,0,57.5C0,25.8,25.8,0,57.5,0C89.2,0,115,25.8,115,57.5C115,89.2,89.2,115,57.5,115z M57.5,10
                C31.3,10,10,31.3,10,57.5S31.3,105,57.5,105S105,83.7,105,57.5S83.7,10,57.5,10z"/>
            </svg>
            <span>around</span>
        </a>
    </div>
</header>
