---
layout: "base.njk"
---

<style>
    main hr {
        margin-bottom: 50px;
    }

    main p {
        font-size: 20px;
        margin-bottom: 30px;
    }

    main a {
        color: var(--text-default);
        text-decoration: none;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid var(--text-color-4);
    }

    main a:hover,
    main a:focus {
        color: var(--text-default) !important;
        border-bottom: 2px solid var(--text-default);
    }

    main li {
        font-size: 20px;
    }

    main img {
        border-radius: var(--border-radius-2);
        width: 100%;
        height: auto;
    }
</style>

{% include 'header.njk' %}

<main class="container">
    {{ content | safe }}
</main>

{% include 'footer.njk' %}
