---
layout: "base.njk"
---

{% include 'header.njk' %}

<main class="container">
    <div class="row row-cols-1 row-cols-lg-2 gx-5">
        <div class="col see-at-pc">
            {% include 'courses/list-courses.njk' %}
        </div>
        <div class="col">
            {{ content | safe }}
        </div>
    </div>

</main>

{% include 'footer.njk' %}
