---
layout: "base.njk"
---

{% include 'header-course.njk' %}

<main class="container">
    <div class="d-flex justify-content-center content">
        <div class="col-md-6 text-start">
            <div id="posttitle" class="visually-hidden">Начало задания</div>

            <div id="postcontent">
                {{ content | safe }}
            </div>
        </div>
    </div>
</main>

{% include 'footer.njk' %}
<script src="/js/test.js"></script>
