:root {
    /* Default */
    --bg-color: #17152b;
    --text-default: #fff;

    /* Colors */
    --text-color-1: #000;
    --text-color-2: #aaa;
    --text-color-3: #252239;
    --text-color-4: #999;

    --text-link-1: #4B94FF;
    --text-link-2: #0D6EFD;

    --bg-light-1: #4C4966;
    --bg-light-2: #5f4966;
    --bg-light-3: #495f66;

    /* Bootstrap */
    --bs-tertiary-bg: #A0C5FE !important;
}
