:root {
    /* Default */
    --bg-color: #fff;
    --text-default: #000;
    --text-invert: #fff;

    --bg-color-rgba: rgba(255,255,255, .5);

    /* Colors */
    --text-color-1: #000;
    --text-color-2: #555;
    --text-color-3: #eee;
    --text-color-4: #cecece;

    --text-link-1: #0D6EFD;
    --text-link-2: #4B94FF;

    --bg-light-1: #ECF5F8;
    --bg-light-2: #F2ECF8;
    --bg-light-3: #ecf8f0;

    --bg-warning: #f8f6ec;

    /* Bootstrap */
    --bs-tertiary-bg-me: #CFECF8 !important;
    --bg-theme-color: #dedede;
    --bs-btn-active-bg: #fff !important;
    --bs-border-color: #eee !important;
}
