:root {
    /* Default */
    --bg-color: #fff;
    --text-default: #000;

    /* Colors */
    --text-color-1: #000;
    --text-color-2: #555;
    --text-color-3: #eee;

    --text-link-1: #0D6EFD;
    --text-link-2: #4B94FF;

    --bg-light-1: #ECF5F8;
    --bg-light-2: #F2ECF8;
    --bg-light-3: #ecf8f0;

    /* Bootstrap */
    --bs-tertiary-bg: #A0C5FE !important;
}
