---
layout: "base.njk"
lesson: "unity"
---

{% include 'header.njk' %}

<main class="container">
    <div class="row row-cols-1 gx-5">
        <div class="col-md-4 see-at-pc">
            {% include 'courses/lists/unity.njk' %}
        </div>
        <div class="col-md-8 content">

            <div class="title">
                <h1>{{ title }}</h1>
                <div class="container text-start">
                    <div class="row row-cols-1 row-cols-lg-3">
                        <div class="col ps-0">
                            <p class="course">курс: Разработка на Unity</p>
                        </div>
                        <div class="col ps-0">
                            <p class="course">автор: Дыбка Даниил</p>
                        </div>
                        <div class="col ps-0">
                            <p class="course">время прочтения: {{ timeread }} мин.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{ content | safe }}

            <div class="container px-0">
                <div class="row pagination-reverse row-cols-1 row-cols-lg-2 pagination">
                    {% if next %}
                        <div class="next">
                            <a href="/{{ lesson }}/{{ next }}" id="postnextlesson" class="d-flex align-items-center" aria-label="Открыть следующий урок">
                                Следующий урок
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </a>
                            <div class="hotkeys see-at-pc">
                                <span>alt</span>
                                +
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="4 4 8 8">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </div>
                        </div>
                    {% endif %}
                    {% if prev %}
                        <div class="previous">
                            <a href="/{{ lesson }}/{{ prev }}" id="postprevlesson" class="d-flex align-items-center" aria-label="Открыть предыдущий урок">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                                Предыдущий урок
                            </a>
                            <div class="hotkeys hotkeys-end see-at-pc">
                                <span>alt</span>
                                +
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="4 4 8 8">
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</main>

{% include 'bottom-course.njk' %}

{% include 'footer.njk' %}
