---
layout: "base.njk"
---

{% include 'header.njk' %}

<main class="container">
    <div class="row row-cols-1 gx-5">
        <div class="col-md-4 see-at-pc">
            <div class="list-group">
                <a href="/unity" class="list-group-item d-flex align-items-center list-group-item-action">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                    Вернуться
                </a>
                <h2 class="title">Разработка на Unity</h2>
                <a href="/unity/1" class="list-group-item list-group-item-action {{ act1 }}">
                    1. Начало урока
                </a>
                <a href="/unity/2" class="list-group-item list-group-item-action {{ act2 }}">
                    2. Установка Unity на компьютер
                </a>
                <a href="/unity/3" class="list-group-item list-group-item-action {{ act3 }}">
                    3. Знакомство с интерфейсом движка
                </a>
                <a href="/unity/4" class="list-group-item list-group-item-action {{ act4 }}">
                    4. Первый пробный проект. Сборка под Android
                </a>
                <a href="/unity/5" class="list-group-item list-group-item-action {{ act5 }}">
                    5. Разработка 2д платформера
                </a>
                <a href="/unity/6" class="list-group-item list-group-item-action {{ act6 }}">
                    6. Добавление игрока. Скрипты на C#
                </a>
                <a href="/unity/7" class="list-group-item list-group-item-action {{ act7 }}">
                    7. Работа над локацией игры
                </a>
                <a href="/unity/8" class="list-group-item list-group-item-action {{ act8 }}">
                    8. Добавление других сцен. Создание меню
                </a>
                <a href="/unity/9" class="list-group-item list-group-item-action {{ act9 }}">
                    9. Сборка под Android, Windows, macOS, Linux
                </a>
                <a href="/unity/10" class="list-group-item list-group-item-action {{ act10 }}">
                    10. Тест игры
                </a>
            </div>
        </div>
        <div class="col-md-8 content">

            <div class="title">
                <h1>{{ title }}</h1>
                <div class="container text-start">
                    <div class="row row-cols-1 row-cols-lg-3">
                        <div class="col ps-0">
                            <p class="course">курс: Разработка на Unity</p>
                        </div>
                        <div class="col ps-0">
                            <p class="course">автор: Дыбка Даниил</p>
                        </div>
                        <div class="col">
                            <p class="course">время прочтения: {{ timeread }} мин.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{ content | safe }}

            <div class="container px-0">
                <div class="row flex-row-reverse row-cols-1 row-cols-lg-2 pagination">
                    <div class="next">
                        {% if next %}
                            <a href="/unity/{{ next }}" class="d-flex align-items-center" aria-label="Открыть следующий урок">
                                Следующий урок
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                    <div class="previous">
                        {% if prev %}
                            <a href="/unity/{{ prev }}" class="d-flex align-items-center" aria-label="Открыть предыдущий урок">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                                Предыдущий урок
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% include 'footer.njk' %}
