<div class="col">
    <div class="course-mainpage d-flex flex-column">
        <div class="top mb-auto">
            <h3>{{ course.name }}</h3>
            <div class="d-flex align-items-center flex-wrap">
            {%- for item in course.popups -%}
                <span>{{ item }}</span>
            {%- endfor -%}
            </div>
        </div>
        <div class="bottom">
            <div class="open">
                <a href="/courses/{{ course.link }}/1/">Открыть курс<svg><use xlink:href="/img/icons/icons.svg#play"></use></svg></a>
            </div>
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="more">
                    <a href="/courses/{{ course.link }}/">Подробнее<svg><use xlink:href="/img/icons/icons.svg#info"></use></svg></a>
                </div>
                <div class="github">
                    <a href="{{ course.github }}" target="_blank">GitHub<svg><use xlink:href="/img/icons/icons.svg#github"></use></svg></a>
                </div>
            </div>
        </div>
    </div>
</div>
