<div class="fixed-bottom-right right-2 see-at-mobile">
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#bottomMobileMenu" aria-controls="bottomMobileMenu">
        <svg><use xlink:href="/img/icons/icons.svg#paragraph"></use></svg>
    </button>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="bottomMobileMenu" aria-labelledby="bottomMobileMenuLabel" style="height: 300px">
  <div class="offcanvas-header d-flex">
    <button type="button" class="btn ms-auto" data-bs-dismiss="offcanvas" aria-label="Close">
        <svg width="32" height="32"><use xlink:href="/img/icons/icons.svg#x"></use></svg>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="mobile-menu-heads" id="mobileMenuHeads">
    </div>
  </div>
</div>

<div class="fixed-bottom-right right-3 see-at-mobile">
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#bottomMobileMenu2" aria-controls="bottomMobileMenu2">
        <svg><use xlink:href="/img/icons/icons.svg#three-dots-vertical"></use></svg>
    </button>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="bottomMobileMenu2" aria-labelledby="bottomMobileMenu2Label" style="height: 300px">
  <div class="offcanvas-header d-flex">
    <button type="button" class="btn ms-auto" data-bs-dismiss="offcanvas" aria-label="Close">
        <svg width="32" height="32"><use xlink:href="/img/icons/icons.svg#x"></use></svg>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="mobile-menu-heads" id="mobileMenuHeads2">
    </div>
  </div>
</div>
