---
layout: "base.njk"
---

{% include 'header-course.njk' %}

<main class="container">
    <div>
        <h1>Пароль курса</h1>
        <form action="?" method="get" class="col-md-3">
            <input class="form-control mb-3" name="code" type="password" placeholder="Код" id="inputcode">
            <button class="btn btn-success" type="submit">Ввести</button>
        </form>
    </div>
</main>

<script src="/js/course-private.js"></script>

<script>
    CheckCourse((new URL(window.location.href)).searchParams.get('code'));
</script>

{% include 'footer.njk' %}
