---
layout: "base.njk"
---

{% include 'header.njk' %}

<main class="container">
    <div class="row row-cols-1 gx-5">
        <div class="col-md-4 see-at-pc" id="lessonleftpcmenu">
            {% include "courses/course-leftbar.njk" %}
        </div>
        <div class="col-md-8 content" id="lessonrightcontent">
            <div class="d-none see-at-pc mb-2" id="lessonbuttonmenu">
                <button type="button" onClick="getShort()" class="btn btn-openmenu">
                    <svg><use xlink:href="/img/icons/icons.svg#chevron-bar-right"></use></svg>Открыть меню
                </button>
            </div>

            <div id="posttitle" class="visually-hidden">Начало урока</div>

            <div id="postcontent">
                {{ content | safe }}

                {% if privatecourse %}
                {% include "courses/course-private.njk" %}
                {% endif %}
            </div>

            {% if next or prev or nextEnd %}
            {% include "courses/course-pagination.njk" %}
            {% endif %}
        </div>
    </div>
</main>

{% if not info %}
{% include 'courses/course-bottom.njk' %}
{% endif %}

{% include 'footer.njk' %}

{% if privatecourse %}
<script src="/js/private-course.js"></script>
<script>
    OpenCourse({{ private_idcourse }}, {{ private_idlesson }});
</script>
{% endif %}

{% if final %}
<script src="/js/final-course.js"></script>
{% endif %}
