<div class="container px-0 mb-2">
    <div class="leftbar-row">
        <div class="col">
            <button onClick="hideLeftMenu()" class="leftbar-btn leftbar-flex">
                <svg width="32" height="32" style="margin-right: 10px"><use xlink:href="/img/icons/icons.svg#chevron-bar-left"></use></svg>Скрыть меню
            </button>
        </div>
        <div class="col">
            <a id="leftbar_buttoninfo" href="/courses/{{ lesson.url }}/" class="leftbar-btn leftbar-flex">
                <svg width="32" height="32" style="margin-right: 10px"><use xlink:href="/img/icons/icons.svg#info"></use></svg>Информация
            </a>
        </div>
        {% if lesson.github %}
        <div class="col">
            <a href="{{ lesson.github }}" target="_blank" class="leftbar-btn leftbar-flex">
                <svg style="margin-right: 15px" width="32" height="32"><use xlink:href="/img/icons/icons.svg#github"></use></svg>GitHub
            </a>
        </div>
        {% endif %}
    </div>
</div>

<div id="leftbar" class="list-group list-group-flush">

    {% for bar in lesson.leftbar %}
    <a id="leftbar_{{ bar.id }}" href="/courses/{{ lesson.url }}/{{ bar.id }}" class="list-group-item list-group-item-action">
        {{ bar.id }}. {{ bar.name }}
    </a>
    {% endfor %}

    <a id="leftbar_final" href="/courses/{{ lesson.url }}/final" class="list-group-item list-group-item-action {{ final }}">
        Завершение
    </a>
</div>
