<div class="private-course" id="privatecoursecode">
    <div class="private-course--title">Пожалуйста, введите пароль курса</div>
    <div class="private-course--more">Данный курс закрытый и требует пароль.</div>
    <form method="get" action="?">
        <div class="input-group">
            <input type="password" class="form-control" name="c" placeholder="Пароль" aria-label="Пароль для курса">
        </div>
    </form>
    <div class="private-course--more">Если вам не сообщили пароль, уточните его у автора курса</div>
</div>
