<div class="list-group">
    <h2>Технология Unity</h2>
    <a href="/unity/" class="list-group-item list-group-item-action {{ actUnity }}">
        Разработка на Unity
    </a>
    <a href="/unity-clicker/" class="list-group-item list-group-item-action {{ actUnityClicker }}">
        «Кликер» на Unity
    </a>
    <a href="/unity-desc/" class="list-group-item list-group-item-action {{ actUnityDesc }}">
        Интересное название и описание для игры
    </a>
    <h2>Веб-разработка</h2>
    <div class="list-group-item list-group-item-action disabled">
        Изучение WordPress с нуля
    </div>
    <div class="list-group-item list-group-item-action disabled">
        Основы HTML и CSS
    </div>
    <div class="list-group-item list-group-item-action disabled">
        Сайт на чистом PHP
    </div>
    <div class="list-group-item list-group-item-action disabled">
        Фреймворк Bootstrap
    </div>
    <div class="list-group-item list-group-item-action disabled">
        PHP с базой данных
    </div>
    <div href="/wordpress/" class="list-group-item list-group-item-action disabled">
        JavaScript на сайте
    </div>
</div>
