<div class="list-group">
    <button onClick="hideLeftMenu()" class="list-group-item see-at-pc d-flex align-items-center list-group-item-action">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/>
        </svg>
        Скрыть меню
    </button>
    <a href="/courses/unity/" class="list-group-item d-flex align-items-center list-group-item-action {{ info }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        Информация
    </a>
    <a href="/courses/unity/1" class="list-group-item list-group-item-action {{ act1 }}">
        1. Про игровой движок Unity
    </a>
    <a href="/courses/unity/2" class="list-group-item list-group-item-action {{ act2 }}">
        2. Установка Unity на компьютер
    </a>
    <a href="/courses/unity/3" class="list-group-item list-group-item-action {{ act3 }}">
        3. Знакомство с интерфейсом движка
    </a>
    <a href="/courses/unity/4" class="list-group-item list-group-item-action {{ act4 }}">
        4. Создадим проект. Запустим на Android
    </a>
    <a href="/courses/unity/5" class="list-group-item list-group-item-action {{ act5 }}">
        5. Разработка 2д платформера
    </a>
    <a href="/courses/unity/6" class="list-group-item list-group-item-action {{ act6 }}">
        6. Добавление игрока. Скрипты на C#
    </a>
    <a href="/courses/unity/7" class="list-group-item list-group-item-action {{ act7 }}">
        7. Работа над локацией игры
    </a>
    <a href="/courses/unity/8" class="list-group-item list-group-item-action {{ act8 }}">
        8. Добавление других сцен. Создание меню
    </a>
    <a href="/courses/unity/9" class="list-group-item list-group-item-action {{ act9 }}">
        9. Сборка под Android, Windows, macOS, Linux
    </a>
    <a href="/courses/unity/10" class="list-group-item list-group-item-action {{ act10 }}">
        10. Тест игры
    </a>
    <a href="/courses/unity/11" class="list-group-item list-group-item-action {{ act11 }}">
        Завершение
    </a>
</div>
