<div class="list-group">
    <button onClick="hideLeftMenu()" class="list-group-item see-at-pc d-flex align-items-center list-group-item-action">
        <svg width="32" height="32"><use xlink:href="/img/icons/icons.svg#chevron-bar-left"></use></svg>Скрыть меню
    </button>
    <a href="/courses/web/" class="list-group-item d-flex align-items-center list-group-item-action {{ info }}">
        <svg width="32" height="32"><use xlink:href="/img/icons/icons.svg#info"></use></svg>Информация
    </a>
    <a href="/courses/web/1/" class="list-group-item list-group-item-action {{ act1 }}">
        1. Первый тестовый урок
    </a>
</div>
