<div class="col">
    <div class="course-mainpage course-mainpage-test course-color-gradient-1 d-flex flex-column">
        <div class="top mb-auto">
            <h3 class="justify-content-center text-center d-flex align-items-center">{{ test.name }}</h3>
        </div>
        <div class="bottom">
            <div class="open open-color-1">
                <a href="/tasks/{{ test.link }}/" class="mb-0">Пройти тестирование<svg><use xlink:href="/img/icons/icons.svg#play"></use></svg></a>
            </div>
        </div>
    </div>
</div>
