:root {
    --border-radius-1: 8px;
    --border-radius-2: 12px;
    --border-radius-3: 30px;
    --border-radius-4: 8px;

    --border-radius-macos: 10px;

    --delay-1: .3s;
    --delay-2: .15s;

    --list-group-item-color: rgba(0, 170, 255, 0.3);
}
