body {
    background: var(--bg-color);
}

* {
    color: var(--text-default);
}

svg {
    fill: var(--text-default);
}

svg .svg--no-fill {
    fill: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
div,
span,
i,
b {
    color: var(--text-default);
}

/* Another */

.course-empty {
    margin-top: 10px;
    font-size: 30px;
}

.course-empty div {
    color: var(--text-color-2);
}

.course-empty svg {
    fill: var(--text-color-2);
}

/* Title */

.main-title
{
    margin-bottom: 20px;
    margin-top: 50px;
}
