.content .pagination
{
    margin-top: 50px;
    border-top: 1px solid var(--text-color-3);
    border-bottom: 1px solid var(--text-color-3);
    padding-top: 30px;
    padding-bottom: 30px;
}

.content .pagination .previous {
    text-align: end;
}

.content .pagination .next {
    text-align: start;
}

.content .pagination a {
    font-size: 20px;
    color: var(--text-default);
    fill: var(--text-default);
    text-decoration: none;
}

.content .pagination a:hover {
    color: var(--text-color-2);
    fill: var(--text-color-2);
}
