.content .pagination
{
    margin-top: 50px;
    border-top: 1px solid var(--text-color-3);
    border-bottom: 1px solid var(--text-color-3);
}

.pagination-reverse:has(.next + .previous),
.pagination-reverse:has(.next) {
    flex-direction: row-reverse;
}

.pagination-reverse:has(.previous).pagination-reverse:not(:has(.next)) .previous {
    border-right: 1px solid var(--text-color-3);
}

.content .pagination .previous a {
    text-align: end;
    justify-content: flex-end !important;
}

.content .pagination .next {
    text-align: start;

    border-left: 1px solid var(--text-color-3);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content .pagination .previous {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.content .pagination a {
    font-size: 20px;
    color: var(--text-default);
    fill: var(--text-default);
    text-decoration: none;
    border: 0 !important;
}

.content .pagination a:hover {
    color: var(--text-color-2);
    fill: var(--text-color-2);
}

.content .pagination .hotkeys {
    font-size: 20px;
    color: var(--text-color-2);

    display: flex;
    align-items: center;
    gap: 0 7px;

    margin-top: 3px;
}

.content .pagination .hotkeys-end {
    justify-content: end;
}

.content .pagination .hotkeys span {
    color: var(--text-color-2);
    font-size: 20px;
    border: 1px solid var(--text-color-3);
    border-radius: var(--border-radius-1);
    padding-left: 3px;
    padding-right: 3px;
}

.content .pagination .hotkeys svg {
    fill: var(--text-color-2);
    width: 32px;
    height: 32px;

    border: 1px solid var(--text-color-3);
    border-radius: var(--border-radius-1);

    /* padding: 8px 6px; */
}

/* Media */

@media(max-width:991px) {
    .content {
        width: 100% !important;
    }

    .content .pagination .previous a {
        text-align: start;
        justify-content: flex-start !important;
    }

    .content .pagination .previous {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: 0 !important;
    }

    .content .pagination .next {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: 0 !important;
    }

    .content .pagination:has(.next).pagination:has(.previous) .next {
        padding-bottom: 0 !important;
    }

    .content .pagination:has(.next).pagination:has(.previous) .previous {
        padding-top: 0 !important;
    }

    .content h1 {
        font-size: 30px !important;
    }

    .content .pagination:has(.previous) .next a {
        margin-bottom: 30px;
        border-bottom: 1px solid var(--text-color-3) !important;
        padding-bottom: 30px;
    }
}

/* Title */

.content .title {
    margin-bottom: 50px;
}

.content .title .course {
    margin: 0;
    font-size: 15px;
    color: var(--text-color-2);
    fill: var(--text-color-2);
}

/* Size */

.content h1 {
    font-size: 60px;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
}

.content blockquote
{
    border-radius: var(--border-radius-2);
    background: var(--bg-light-2);
    padding: 20px;
    margin-bottom: 30px;
}

.content blockquote p {
    margin: 0;
}

.content .code {
    border-radius: var(--border-radius-2);
    background: var(--bg-light-3);
    /* padding: 20px; */
    margin-bottom: 20px;
}

.content a {
    color: var(--text-default);
    text-decoration: none;
    border-bottom: 2px solid var(--text-color-4);
}

.content a:hover {
    border-bottom: 2px solid var(--text-default);
}

/* Table  */

.content table {
    margin-bottom: 30px;
}

.content table {
    overflow: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}



/* Img */

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: var(--border-radius-macos);
}

/* Lists */

.content ul {
    font-size: 20px;
}

.content ol {
    font-size: 20px;
}

/* Warning */

.content .warning
{
    background: var(--bg-warning);
    border-radius: var(--border-radius-2);
    padding: 13px;
    margin-bottom: 30px;
    font-size: 20px;

    display: flex;
    align-items: center;
}

.content .warning svg {
    fill: var(--text-default);
    width: 48px;
    height: 48px;
    margin-right: 20px;
    margin-left: 10px;
}

.content .warning a {
    border-bottom: 2px solid var(--text-default);
}
