.course-mainpage
{
    padding: 15px;
    border-radius: var(--border-radius-2);
    border: 1px solid var(--text-color-3);

    height: 300px;
}

.course-mainpage .bottom .row p {
    display: none !important;
}

.course-color-1 {
    border: 0px !important;
    background: var(--bg-light-1);
}

.course-color-2 {
    border: 0px !important;
    background: var(--bg-light-2);
}

.course-color-3 {
    border: 0px !important;
    background: var(--bg-light-3);
}

.course-mainpage svg {
    width: 24px;
    height: 24px;
    fill: var(--text-color-2);
}

/* Title */

.course-mainpage h3 {
    margin-bottom: 5px;
}

/* Popups */

.course-mainpage .d-flex span {
    margin-right: 7px;
    border: 1px solid var(--text-color-2);
    padding: 3px 5px;
    border-radius: var(--border-radius-1);

    margin-bottom: 7px;
}

.course-mainpage .bottom {
    bottom: 0px;
}

.course-mainpage p {
    padding: 0;
    margin: 0;
}

/* Open */

.course-mainpage .open a {
    font-size: 20px;
    text-decoration: none;
    color: var(--text-default);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;
    background: var(--color-danger);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: var(--border-radius-4);
}

.course-mainpage .open a:hover,
.course-mainpage .open a:focus {
    background: var(--color-danger-hover);
}

/* More and Github */

.course-mainpage .row .more a {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-default);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--text-color-2);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: var(--border-radius-4);
}

.course-mainpage .more a {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-default);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--text-color-2);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: var(--border-radius-4);
}

.course-mainpage .github a {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-default);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--text-color-2);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: var(--border-radius-4);
}

@media(min-width: 992px) {
    .course-mainpage .github {
        padding-left: 3.5px !important;
    }

    .course-mainpage .row .more {
        padding-right: 3.5px !important;
    }
}

/* SVG */

.course-mainpage .open svg {
    fill: var(--text-default);
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.course-mainpage .more svg {
    fill: var(--text-default);
    width: 24px;
    height: 24px;
}

.course-mainpage .github svg {
    fill: var(--text-default);
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px;
}

/* Row */

.row-course-mainpages{
    margin-bottom: 50px;
}

/* Adaptive  */

@media(max-width: 991px) {
    .course-mainpage {
        height: 265px;
    }

    .course-mainpage .row .more a {
        margin-bottom: 7px;
    }
}
