.fixed-bottom-right
{
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.fixed-bottom-right.fixed-link {
    position: fixed;
    bottom: 32px;
    right: 16px;
}

.fixed-bottom-right.right-1 {
    position: fixed;
    bottom: 32px;
    right: 180px;
}

.fixed-bottom-right.right-2 {
    position: fixed;
    bottom: 32px;
    right: 90px;
}

.fixed-bottom-right.right-3 {
    position: fixed;
    bottom: 32px;
    right: 14px;
}

.fixed-bottom-right button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    background-color: var(--bg-light-1) !important;
    padding: 15px;
    border-radius: var(--border-radius-3);

    transition: 0s !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.fixed-bottom-right a {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    background-color: var(--bg-light-1) !important;
    padding: 20px 15px;
    border-radius: var(--border-radius-3);

    transition: 0s !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.fixed-bottom-right svg {
    width: 32px;
    height: 32px;
    fill: var(--text-default);

    transition: 0s !important;
}

/* Start learn */

.start-learn {
    position: fixed;
    bottom: 10px;
    right: 25%;

    background: var(--color-danger);
    border-radius: var(--border-radius-2);
}

@media(min-width: 1200px) {
    .start-learn {
        right: 33%;
    }
}

@media(max-width: 700px) {
    .start-learn {
        right: 15%;
    }
}

.link--start-learn {
    color: var(--text-default);
    text-decoration: none;
    font-size: 30px;

    padding-left: 100px;
    padding-right: 100px;
}

@media(max-width: 500px) {
    .link--start-learn {
        font-size: 20px;

        padding-left: 30px;
        padding-right: 30px;
    }

    .start-learn {
        right: 23%;
    }
}
