.hash {
    border: 0 !important;
    text-decoration: none !important;

    color: var(--bg-color) !important;
    transition: .5s;
}

.hash:hover,
.hash:focus {
    color: var(--text-default) !important;
}
