.link {
    /* font-size: 20px; */
    color: var(--text-default);
    text-decoration: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--text-color-4);
}

.link:hover,
.link:focus {
    color: var(--text-default) !important;
    border-bottom: 1px solid var(--text-default);
}
