/* List */

.list-group-item {
    font-size: 20px;
    margin-bottom: 15px;
    border: 0;

    padding: 15px 20px;

    border-radius: var(--border-radius-2) !important;
    color: var(--text-default);
    background-color: var(--bg-light-1);

    transition: var(--delay-2);

    --bs-list-group-action-hover-bg: var(--bs-tertiary-bg-me) !important;
}

.list-group-item:hover {
    box-shadow: 0px 1px 2px 0px var(--list-group-item-color),
            1px 2px 4px 0px var(--list-group-item-color);
}

.list-group p {
    margin: 0 !important;
    padding: 0 !important;
}

/* Disabled */

.disabled {
    color: var(--text-color-2) !important;
    background: var(--bg-color) !important;
    transition: none !important;
    padding: 0 !important;
    margin-bottom: 30px;
}

/* Small */

.list-group-item.small {
    margin-bottom: 5px;
    padding: 13px;
    border-radius: var(--border-radius-1) !important;
    box-shadow: none !important;
}

/* Active */

.list-group-item.active svg {
    fill: #fff !important;
}
