.offcanvas
{
    background: var(--bg-color);
}

/* Bottom menu */

.offcanvas-menu-bottom
{
    background: var(--bg-color);
    /* backdrop-filter: blur(15px); */

    border-top-left-radius: var(--border-radius-2);
    border-top-right-radius: var(--border-radius-2);
}

.offcanvas-menu-bottom .offcanvas-body button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    margin-bottom: 15px;
    background: var(--bg-light-1);
    border-radius: var(--border-radius-2);
    font-size: 20px;
    padding: 10px;
}

.offcanvas-menu-bottom .offcanvas-body button svg {
    width: 32px;
    height: 32px;
}

/* Height bottom menu */

.offcanvas-menu-bottom.height-one {
    height: 200px !important;
}

.offcanvas-menu-bottom.height-full {
    height: 300px !important;
}
