.button-task-open
{
    font-size: 20px;
    border-bottom: 1px solid var(--text-color-2);
    border-radius: 0 !important;
    margin-bottom: 30px;
}

.button-task-open:hover,
.button-task-open:active,
.button-task-open:focus {
    border-bottom: 1px solid var(--text-default);
}
