.theme-toggle
{
    margin-top: 10px;
    width: 195px;
    background: var(--bg-theme-color);
    border-radius: var(--border-radius-3);
    padding: 1.5px;
}

.theme-toggle .btn-secondary {
    --bs-btn-border-radius: 50px;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: var(--text-default) !important;
    padding-left: 10px;
    padding-right: 10px;
}

.theme-toggle p {
    padding: 0;
    margin: 0;
}

.theme-toggle label {
    padding: 0;
    margin: 0;
}

.theme-toggle .btn-secondary {
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--text-color-2) !important;
    background: transparent;
    border: 0;
}

.theme-toggle .btn-secondary:hover {
    color: var(--text-default) !important;
    background: transparent;
    border: 0;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active
{
    color: var(--text-default) !important;
    background: var(--bg-color);
    border: 0;
}
