.header {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--text-color-3);
}

.header .main-page p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

.header a {
    color: var(--text-color-1);
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.header a:hover p,
.header a:hover nobr {
    color: var(--text-color-2);
}

/* PC */

.header .header-pc p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

/* Mobile */

.header .header-mobile p {
    font-size: 25px;
    margin-bottom: 0;
}

/* Button */

.header-btn-menu
{
    margin-right: 10px;
}

.header .btn-light {
    border-radius: var(--border-radius-1) !important;
    color: var(--text-default) !important;
    fill: var(--text-default) !important;

    background: none !important;
    border: 1px solid var(--text-default) !important;
}
